#user-management-page{
  .table-control{
    button{
      flex: 1;
    }
  }
  #example1{
    th,td{
      text-align: center;
      vertical-align: middle;
    }
    th.no-sort{
      @include css3-prefix(cursor,default);
      @include css3-prefix(appearance,label);

      padding: 8px;

      &:after{
        content: '';
        opacity: 1;
      }
    }
    td{
      img{
        width: 70px;
        margin: 0 auto;
      }
    }
  }
  .dataTable-plus{
    width: 7%;
    margin-right: 10px;
  }
  .content-header{
    @include flex();
    align-items: center;
    justify-content: space-between;
  }

}